html {
  font-family: 'Open Sans', sans-serif;
  background: url(chesser-800x561.jpg);
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: lavender;
  position: relative;
}
h1{
  color: sienna;
  border: 5px;
}
div {
  width: 200px;
  border: 15px solid black;
  padding: 70px;
  margin: 20px;
}
h2{
  color: black;
}
